<!DOCTYPE html>
<html>
<head>
  <title>Hollow Cards - queue</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/play.css"></link>
  <link rel="stylesheet" type="text/css" href="css/global.css"></link>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="navBar.js"></script>
</head>
<body>
  <header>
    <h1 id="title">Hollow Cards</h1>
  </header>
  <div id="navBar">
  </div>
  <div id = "app">
    <select id="deckChooser" v-model="curDeckID" class = "deckChooser">
      <option v-for="(deck,i) in decks"
      :value="i">{{deck.name}}</option>
    </select>
    <button v-on:click='enterQueue()' id="enterQueueButton">Enter Queue</button>
      <div id="SuspiciousLookingDiv"></div>
  </div>
  <script src="play/playWebsocket.js"></script>
  <script src="play/play.js"></script>
</body>
</html>
